.nav {
    grid-area: n;
    background-color: rgb(163, 207, 161);
    padding: 20px;
  }

  .item a{
      color: white;
      text-decoration: none;
  }
  .posts {
      color: aqua;
  }

  .item a.activeLink {
      color:gold;

  }